@font-face {
    font-family: Youre So Cool;
    src: url('fonts/Youre So Cool.ttf');
}

@font-face {
    font-family: Prestij;
    src: url('fonts/Prestij.otf');
}

a,
a:hover {
    color: unset;
    text-decoration: unset;
}

#logo {
    font-family: Youre So Cool;
    font-weight: 600;
    font-size: 50px;
    transition: ease-out 0.2s;
}

#logo:hover {
    text-shadow: 0px 2px 10px white;
}

ul {
    font-family: Prestij;
}

ul > li {
    padding: 10px 30px;
    font-size: 18px;
    transition: ease-in 0.2s;
    text-shadow: 0px 0px 2px #999;
}

ul > li:hover {
    text-shadow: 0px 0px 5px white;
    color: white;
}

#home {
    display: block;
    background: url('images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 700px;
    width: 100%;
}

#home > .container {
    height: 100%;
    position: relative;
}

.home-content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 500px;
    padding: 45px;
}

.home-header {
    font-size: 60px;
    font-weight: 600;
}